.router-link {
  color: rgb(134, 134, 134);
  border: 1px solid rgb(201, 201, 201);
  margin: 10px;
  border-radius: 3px;
  display: inline-block;
  padding: 4px;
  text-decoration: none;

  &:hover {
    color: black;
    border-color: gray;
  }
}

nav {
  text-align: center;
}

.App {
  width: 100%;
  flex: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
}
